.new-arrivals{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.new-arrivals-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem; 
}

.new-arrivals-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.new-arrivals-title>.title{
    font-size: 5.5rem;
    font-family: "Roboto";
    text-transform: capitalize;
    font-weight: 700;
    color: var(--color-black);

}

.new-arrivals-title>.description{
    max-width: 614px;
    line-height: 3rem;
    font-family: "Poppins";
    font-weight: 400;
    color: var(--color-third-black);
    margin-inline: auto;
    text-align: center;
    text-wrap: pretty;
}

.new-arrivals-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 1.5rem;

}

.filter-btn{
    border:none;
    border-radius: 10px;
    padding: 2rem 3rem;
    background-color: var(--color-off-white);

    color: var(--color-another-black);
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 400;

    transition: all 300ms;
}

.filter-btn.active{
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 20px 34px 0px rgba(0,0,0,0.15);
}

.filter-btn:not(.active):hover{
    box-shadow: 0px 20px 34px 0px rgba(0,0,0,0.15);
    color: var(--color-off-black);
}